### Workbook for Data Warehouse project

In [1]:
%load_ext sql

In [2]:
import boto3
import configparser
import pandas as pd
#from time import time

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [4]:
KEY = config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB = config.get("CLUSTER","DB_NAME")
DWH_DB_USER = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT") 
# could pull "CLUSTER", "HOST"

DWH_CLUSTER_TYPE = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER") # redshift-cluster
DWH_IAM_ROLE_NAME = config.get("DWH","DWH_IAM_ROLE_NAME")   # myRedshiftRole - not sure if necessary since I'm reusing this one

DWH_ROLE_ARN = config.get('IAM_ROLE','ARN')  # reusing existing role so this is ok
DWH_ENDPOINT = config.get('CLUSTER','HOST')  # available after creation ... sortof since we know what it is

In [5]:
print(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)

awsuser Passw0rd! redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com 5439 dev

In [6]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Passw0rd!@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

### Hack ETL inserts

In [96]:
%sql select count(*) from staging_events;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1786,)]

In [98]:
%sql select * from staging_events limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', Decimal('221'), 'free', 'Lubbock, TX', 'PUT', 'NextSong', '1540708070796', '82', 'I Have A Wish', '200', 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Dalto', 'Logged In', 'Aiden', 'M', 1, 'Hess', Decimal('190'), 'free', 'La Crosse-Onalaska, WI-MN', 'PUT', 'NextSong', '1540829025796', '170', 'Falta Te Dizer', '200', 1541129674796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 86),
 ('The Decemberists', 'Logged In', 'Lily', 'F', 1, 'Koch', Decimal('242'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1541048010796', '172', 'Everything I Try to Do_ Nothing Seems to Turn Out Right', '200', 1541149456796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 ('Cat Stevens', 'Logged In', 'Kynnedi', 'F', 1, 'Sanchez', Decimal('200'), 'free', 'Cedar Rapids, IA', 'PUT', 'NextSong', '1541079034796', '88', 'Wild World', '200', 1541150017796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 89),
 ('Tiziano Ferro', 'Logged In', 'Lily', 'F', 7, 'Koch', Decimal('251'), 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', '1541048010796', '172', 'Ed Ero Contentissimo', '200', 1541150809796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15)]

In [97]:
%sql select count(*) from staging_songs;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [53]:
%sql select * from staging_songs order by song_id limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, 'ARAMIDF1187FB3D8D4', None, None, '', 'Alejandro Lerner', 'SOAAAQN12AB01856D3', 'Campeones De La Vida', Decimal('153.36'), 0),
 (1, 'ARNHTE41187B99289A', None, None, '', 'Saafi Brothers', 'SOAACFC12A8C140567', 'Supernatural Pt. II', Decimal('343.09'), 0),
 (1, 'ARXWFZ21187FB43A0B', Decimal('45.511789'), Decimal('-122.675630'), 'Portland, OR', 'Blitzen Trapper', 'SOAACTC12AB0186A20', 'Christmas Is Coming Soon', Decimal('180.76'), 2008),
 (1, 'ARQTC851187B9B03AF', Decimal('39.081659'), Decimal('-77.151240'), 'Rockville, MD', 'O.A.R.', 'SOAADAD12A8C13D5B0', 'One Shot (Album Version)', Decimal('263.99'), 2005),
 (1, 'AR3FKJ61187B990357', Decimal('27.946529'), Decimal('-82.459270'), 'Tampa, FL', 'David Sanborn', 'SOAADJH12AB018BD30', 'Black Light (Album Version)', Decimal('385.90'), 1975)]

In [37]:
%%sql 
INSERT INTO songs(song_id, title, artist_id, year, duration)
SELECT song_id, MIN(title), MIN(artist_id), MIN(year), MIN(duration) 
  FROM staging_songs
 GROUP BY song_id
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
14896 rows affected.

[]

In [38]:
%%sql 
INSERT INTO songs(song_id, title, artist_id, year, duration) 
SELECT '***UNKNOWN_SONG***', '***Unknown Song***', '***UNKNOWN_ARTIST***', NULL, NULL
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[]

In [74]:
%%sql 
INSERT INTO songs(song_id, title, artist_id, year, duration)
SELECT song_id, MIN(title), MIN(artist_id), MIN(year), MIN(duration) 
  FROM staging_songs
 WHERE song_id NOT IN (SELECT song_id FROM songs)
 GROUP BY song_id
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [73]:
%sql select count(*) from songs;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14897,)]

In [7]:
%sql select * from songs order by song_id limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('***UNKNOWN_SONG***', '***Unknown Song***', '***UNKNOWN_ARTIST***', None, None),
 ('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153.3644')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343.0917')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180.7668')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263.9930'))]

In [149]:
%sql delete from songs;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
14898 rows affected.

[]

In [93]:
%sql select * from artists limit 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25.670839'), Decimal('-100.309530')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('40.655070'), Decimal('-73.948880')),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR00TGQ1187B994F29', 'Paula Toller', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', Decimal('40.714550'), Decimal('-74.007120')),
 ('AR016P51187B98E398', 'Indian Ropeman', '', None, None)]

In [40]:
%%sql 
INSERT INTO artists(artist_id, name, location, latitude, longitude) 
SELECT artist_id, MIN(artist_name), MIN(artist_location), MIN(artist_latitude), MIN(artist_longitude) 
  FROM staging_songs
 GROUP BY artist_id
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
9553 rows affected.

[]

In [41]:
%%sql
INSERT INTO artists(artist_id, name, location, latitude, longitude)
SELECT '***UNKNOWN_ARTIST***', '*** Unknown Artist ***', NULL, NULL, NULL
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[]

In [71]:
%%sql 
INSERT INTO artists(artist_id, name, location, latitude, longitude) 
SELECT artist_id, MIN(artist_name), MIN(artist_location), MIN(artist_latitude), MIN(artist_longitude) 
  FROM staging_songs
 WHERE artist_id NOT IN (SELECT artist_id FROM artists)
 GROUP BY artist_id
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [150]:
%sql delete from artists;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
9555 rows affected.

[]

In [72]:
%sql select count(*) from artists;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(9554,)]

In [8]:
%%sql 
SELECT s.song_id, s.title, s.year, a.artist_id, a.name 
  FROM songs s JOIN artists a ON s.artist_id = a.artist_id
 LIMIT 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 0, 'ARAMIDF1187FB3D8D4', 'Alejandro Lerner'),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 0, 'ARNHTE41187B99289A', 'Saafi Brothers'),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 2008, 'ARXWFZ21187FB43A0B', 'Blitzen Trapper'),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 2005, 'ARQTC851187B9B03AF', 'O.A.R.'),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 1975, 'AR3FKJ61187B990357', 'David Sanborn'),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 0, 'AR70XXH1187FB44B55', 'Jean-Louis Aubert'),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 1991, 'AR5N8VN1187FB37A4E', 'Soundgarden'),
 ('SOAAETA12A6D4FC626', 'Shine', 2007, 'ARQXK0B1187B9ACC97', 'Joni Mitchell'),
 ('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 2006, 'AR3CQ2D1187B9B1953', 'Dem Franchize Boyz'),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 0, 'AR5ZGC11187FB417A3', 'Big Mountain')]

In [9]:
%%sql 
SELECT count(*) 
  FROM (
SELECT s.song_id, s.title, s.year, a.artist_id, a.name 
  FROM songs s JOIN artists a ON s.artist_id = a.artist_id
);

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14897,)]

In [61]:
%%sql 
INSERT INTO users(user_id, first_name, last_name, gender, level) 
SELECT userid, MIN(firstname), MIN(lastname), MIN(gender), MIN(level) 
  FROM staging_events
 WHERE page = 'NextSong'
 GROUP BY userid;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
74 rows affected.

[]

In [64]:
%%sql 
INSERT INTO users(user_id, first_name, last_name, gender, level) 
SELECT userid, MIN(firstname), MIN(lastname), MIN(gender), MIN(level) 
  FROM staging_events
 WHERE page = 'NextSong'
   AND userid NOT IN (SELECT user_id FROM users)
 GROUP BY userid;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [85]:
%%sql
UPDATE users SET 
       level = s.level,
       first_name = s.firstname,
       last_name = s.lastname,
       gender = s.gender
  FROM staging_events s
 WHERE user_id = s.userid
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
74 rows affected.

[]

In [90]:
%sql delete from users;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
74 rows affected.

[]

In [80]:
%sql select count(*) from users;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(74,)]

In [10]:
%sql select * from users limit 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(48, 'Marina', 'Sutton', 'F', 'free'),
 (89, 'Kynnedi', 'Sanchez', 'F', 'free'),
 (99, 'Ann', 'Banks', 'F', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (77, 'Magdalene', 'Herman', 'F', 'free'),
 (33, 'Bronson', 'Harris', 'M', 'free'),
 (95, 'Sara', 'Johnson', 'F', 'paid'),
 (72, 'Hayden', 'Brock', 'F', 'paid')]

In [ ]:
%%sql 
INSERT INTO time(start_time, hour, day, week, month, year, weekday) 
SELECT start_time, 
       EXTRACT(hour from start_time),  
       EXTRACT(day from start_time),  
       EXTRACT(week from start_time),
       EXTRACT(month from start_time), 
       EXTRACT(year from start_time), 
       EXTRACT(dayofweek from start_time)
  FROM (
SELECT DISTINCT TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 Second' AS start_time 
  FROM staging_events 
 WHERE page = 'NextSong'
);

In [82]:
%%sql 
INSERT INTO time(start_time, hour, day, week, month, year, weekday) 
SELECT start_time, 
       EXTRACT(hour from start_time),  
       EXTRACT(day from start_time),  
       EXTRACT(week from start_time),
       EXTRACT(month from start_time), 
       EXTRACT(year from start_time), 
       EXTRACT(dayofweek from start_time)
  FROM (
SELECT DISTINCT TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 Second' AS start_time 
  FROM staging_events 
 WHERE page = 'NextSong'
   AND start_time NOT IN (SELECT start_time FROM time)
);

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [89]:
%sql delete from time;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1507 rows affected.

[]

In [88]:
%sql select count(*) from time;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [48]:
%sql select * from time limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 2, 2, 42, 48), 2, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 5, 52, 29), 5, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 12, 32), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 22, 43), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 3, 1, 5, 50), 1, 3, 44, 11, 2018, 6)]

In [11]:
%sql select count(*) from songplays;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [151]:
%sql delete from songplays;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
6820 rows affected.

[]

In [10]:
%sql select * from songplays limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(4347, datetime.datetime(2018, 11, 2, 1, 25, 34), 101, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 184, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (386, datetime.datetime(2018, 11, 2, 1, 34, 17), 83, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 82, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (1133, datetime.datetime(2018, 11, 2, 10, 2, 20), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (2783, datetime.datetime(2018, 11, 2, 11, 7, 47), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (4169, datetime.datetime(2018, 11, 2, 11, 25, 30), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [133]:
%sql select count(*) from songplays where song_id like 'SO%';

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(333,)]

In [134]:
%sql select count(*) from songplays where artist_id like 'AR%';

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(334,)]

In [11]:
%sql select * from songplays where song_id not like 'SO%' limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(4347, datetime.datetime(2018, 11, 2, 1, 25, 34), 101, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 184, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (386, datetime.datetime(2018, 11, 2, 1, 34, 17), 83, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 82, 'Lubbock, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (1133, datetime.datetime(2018, 11, 2, 10, 2, 20), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (2783, datetime.datetime(2018, 11, 2, 11, 7, 47), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (4169, datetime.datetime(2018, 11, 2, 11, 25, 30), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [126]:
%%sql
INSERT INTO songplays(start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT TIMESTAMP 'epoch' + e.ts/1000 * INTERVAL '1 Second' AS start_time, 
       e.userid as user_id, 
       e.level,
       --e.song, 
       --COALESCE(s.song_id, '***UNKNOWN_SONG***') as song_id,  
       COALESCE(s.song_id, e.song) as song_id,
       --e.artist, 
       --COALESCE(s.artist_id, '***UNKNOWN_ARTIST***') as artist_id,
       COALESCE(s.artist_id, e.artist) as artist_id,
       cast(e.sessionid as INT) as sesson_id,
       e.location, 
       e.useragent as user_agent
  FROM staging_events e 
  LEFT OUTER JOIN staging_songs s ON e.artist = s.artist_name AND e.song = s.title
 WHERE page = 'NextSong' 
;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1507 rows affected.

[]

In [12]:
%%sql
SELECT 9999 as dummy, 
       TIMESTAMP 'epoch' + e.ts/1000 * INTERVAL '1 Second' AS start_time, 
       e.userid as user_id, 
       e.level,
       --e.song, 
       --COALESCE(s.song_id, '***UNKNOWN_SONG***') as song_id,  
       COALESCE(s.song_id, e.song) as song_id,
       --e.artist, 
       --COALESCE(a.artist_id, '***UNKNOWN_ARTIST***') as artist_id,
       COALESCE(a.artist_id, e.artist) as artist_id,
       e.sessionid as sesson_id,
       e.location, 
       e.useragent as user_agent
  FROM staging_events e 
  LEFT OUTER JOIN artists a ON e.artist = a.name
  LEFT OUTER JOIN songs s ON e.song = s.title
 WHERE page = 'NextSong' 
 LIMIT 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(9999, datetime.datetime(2018, 11, 7, 0, 9, 27), 97, 'paid', 'Panales de Algodon', 'Juan Carmona', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (9999, datetime.datetime(2018, 11, 7, 0, 38, 3), 97, 'paid', "Everybody Comes to Rick's", 'World Inferno/Friendship Society_ The', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (9999, datetime.datetime(2018, 11, 7, 2, 56, 26), 9, 'free', 'There Is A Light That Never Goes Out', 'ARPN0Y61187B9ABAA0', 8, 'Eureka-Arcata-Fortuna, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'),
 (9999, datetime.datetime(2018, 11, 7, 5, 30, 16), 101, 'free', 'SODXLWX12AC468D3B1', 'ARXSH7J1187FB483BE', 298, 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (9999, datetime.datetime(2018, 11, 7, 6, 37, 23), 14, 'free', 'A Beggar On A Beach Of Gold', 'ARYGSFW1187FB519B1', 162, 'Red Bluff, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (9999, datetime.datetime(2018, 11, 7, 11, 39, 49), 10, 'free', 'Impossible', 'ARVTAI41187B9B8B67', 339, 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (9999, datetime.datetime(2018, 11, 7, 13, 22, 11), 15, 'paid', 'Keep Holding On', 'ARY53RR1187B9AE485', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (9999, datetime.datetime(2018, 11, 7, 13, 40, 39), 44, 'paid', 'Racing East', 'ARVTCS91187FB44DF6', 285, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (9999, datetime.datetime(2018, 11, 7, 13, 53, 9), 15, 'paid', 'Good Man', 'ARI7RGN1187FB40849', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (9999, datetime.datetime(2018, 11, 7, 14, 16, 39), 15, 'paid', 'Narc', 'ARNBMT71187B993523', 221, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]