### Workbook for Data Warehouse project

In [1]:
%load_ext sql

In [2]:
import boto3
import configparser
import pandas as pd
#from time import time

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [4]:
KEY = config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB = config.get("CLUSTER","DB_NAME")
DWH_DB_USER = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT") 
# could pull "CLUSTER", "HOST"

DWH_CLUSTER_TYPE = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER") # redshift-cluster
DWH_IAM_ROLE_NAME = config.get("DWH","DWH_IAM_ROLE_NAME")   # myRedshiftRole - not sure if necessary since I'm reusing this one

DWH_ROLE_ARN = config.get('IAM_ROLE','ARN')  # reusing existing role so this is ok
DWH_ENDPOINT = config.get('CLUSTER','HOST')  # available after creation ... sortof since we know what it is

In [5]:
print(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)

awsuser Passw0rd! redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com 5439 dev

In [6]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://awsuser:Passw0rd!@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

### Diagnostic queries

In [7]:
%%sql
SELECT "schema", "table", diststyle
  FROM SVV_TABLE_INFO
 WHERE "table" IN ('staging_events', 'staging_songs', 'songplays', 'users', 'artists', 'songs', 'time')
 ORDER BY "table";

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('public', 'artists', 'ALL'),
 ('public', 'songplays', 'EVEN'),
 ('public', 'songs', 'ALL'),
 ('public', 'staging_events', 'EVEN'),
 ('public', 'staging_songs', 'EVEN'),
 ('public', 'time', 'ALL'),
 ('public', 'users', 'ALL')]

In [8]:
%%sql
SELECT reloid, relname, reltype, relhaspkey, 
       releffectivediststyle,
       CASE releffectivediststyle
            WHEN 0 THEN 'EVEN'
            WHEN 1 THEN 'KEY'
            WHEN 8 THEN 'ALL'
            WHEN 10 THEN 'AUTO (ALL)'
            WHEN 11 THEN 'AUTO (EVEN)'
            ELSE '????'
       END as diststyle,
       relcreationtime
  FROM pg_class_info
 WHERE relname IN ('staging_events', 'staging_songs', 'songplays', 'users', 'artists', 'songs', 'time')
 ORDER BY relname;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(100447, 'artists', 100448, True, 8, 'ALL', datetime.datetime(2020, 3, 2, 6, 57, 23, 589840)),
 (100459, 'songplays', 100460, True, 0, 'EVEN', datetime.datetime(2020, 3, 2, 6, 57, 24, 99139)),
 (100451, 'songs', 100452, True, 8, 'ALL', datetime.datetime(2020, 3, 2, 6, 57, 23, 850708)),
 (100435, 'staging_events', 100436, False, 0, 'EVEN', datetime.datetime(2020, 3, 2, 6, 57, 22, 590980)),
 (100437, 'staging_songs', 100438, False, 0, 'EVEN', datetime.datetime(2020, 3, 2, 6, 57, 22, 843082)),
 (100439, 'time', 100440, True, 8, 'ALL', datetime.datetime(2020, 3, 2, 6, 57, 23, 90042)),
 (100443, 'users', 100444, True, 8, 'ALL', datetime.datetime(2020, 3, 2, 6, 57, 23, 342272))]

### Hack ETL queries

In [9]:
%sql select count(*) from staging_events;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [10]:
%sql select * from staging_events limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('Bullet For My Valentine', 'Logged In', 'Kate', 'F', 92, 'Harrell', Decimal('235'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', 293, 'Begging For Mercy', '200', 1541549869796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Lonnie Gordon', 'Logged In', 'Kate', 'F', 99, 'Harrell', Decimal('181'), 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', 293, 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', '200', 1541551380796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Lovehatehero', 'Logged In', 'Kaylee', 'F', 0, 'Summers', Decimal('216'), 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', '1540344794796', 181, 'Red Dress', '200', 1541554284796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Flight Of The Conchords', 'Logged In', 'Kynnedi', 'F', 0, 'Sanchez', Decimal('148'), 'free', 'Cedar Rapids, IA', 'PUT', 'NextSong', '1541079034796', 192, 'Too Many Dicks (On The Dance Floor)', '200', 1541559660796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 89),
 ('Twista feat. Kayne West & Jamie Foxx', 'Logged In', 'Ava', 'F', 2, 'Robinson', Decimal('212'), 'free', 'New Haven-Milford, CT', 'PUT', 'NextSong', '1540931983796', 313, 'Slow Jamz (Feat. Kanye West & Jamie Foxx) (Edited Album Version)', '200', 1541568931796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 50)]

In [11]:
%sql select count(*) from staging_songs;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [12]:
%sql select * from staging_songs order by song_id limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, 'ARAMIDF1187FB3D8D4', None, None, '', 'Alejandro Lerner', 'SOAAAQN12AB01856D3', 'Campeones De La Vida', Decimal('153.3644'), 0),
 (1, 'ARNHTE41187B99289A', None, None, '', 'Saafi Brothers', 'SOAACFC12A8C140567', 'Supernatural Pt. II', Decimal('343.0917'), 0),
 (1, 'ARXWFZ21187FB43A0B', Decimal('45.511789'), Decimal('-122.675630'), 'Portland, OR', 'Blitzen Trapper', 'SOAACTC12AB0186A20', 'Christmas Is Coming Soon', Decimal('180.7668'), 2008),
 (1, 'ARQTC851187B9B03AF', Decimal('39.081659'), Decimal('-77.151240'), 'Rockville, MD', 'O.A.R.', 'SOAADAD12A8C13D5B0', 'One Shot (Album Version)', Decimal('263.9930'), 2005),
 (1, 'AR3FKJ61187B990357', Decimal('27.946529'), Decimal('-82.459270'), 'Tampa, FL', 'David Sanborn', 'SOAADJH12AB018BD30', 'Black Light (Album Version)', Decimal('385.9064'), 1975)]

In [13]:
%sql select count(*) from songs;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14897,)]

In [14]:
%sql select * from songs order by song_id limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('***UNKNOWN_SONG***', '***Unknown Song***', '***UNKNOWN_ARTIST***', None, None),
 ('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153.3644')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343.0917')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180.7668')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263.9930'))]

In [15]:
%sql select count(*) from artists;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(9554,)]

In [16]:
%sql select * from artists limit 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25.670839'), Decimal('-100.309530')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('40.655070'), Decimal('-73.948880')),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR00TGQ1187B994F29', 'Paula Toller', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', Decimal('40.714550'), Decimal('-74.007120')),
 ('AR016P51187B98E398', 'Indian Ropeman', '', None, None)]

In [17]:
%%sql 
SELECT s.song_id, s.title, s.year, a.artist_id, a.name 
  FROM songs s JOIN artists a ON s.artist_id = a.artist_id
 LIMIT 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 0, 'ARAMIDF1187FB3D8D4', 'Alejandro Lerner'),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 0, 'ARNHTE41187B99289A', 'Saafi Brothers'),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 2008, 'ARXWFZ21187FB43A0B', 'Blitzen Trapper'),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 2005, 'ARQTC851187B9B03AF', 'O.A.R.'),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 1975, 'AR3FKJ61187B990357', 'David Sanborn'),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 0, 'AR70XXH1187FB44B55', 'Jean-Louis Aubert'),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 1991, 'AR5N8VN1187FB37A4E', 'Soundgarden'),
 ('SOAAETA12A6D4FC626', 'Shine', 2007, 'ARQXK0B1187B9ACC97', 'Joni Mitchell'),
 ('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 2006, 'AR3CQ2D1187B9B1953', 'Dem Franchize Boyz'),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 0, 'AR5ZGC11187FB417A3', 'Big Mountain')]

In [38]:
%%sql 
SELECT count(*) 
  FROM (
SELECT s.song_id, s.title, s.year, a.artist_id, a.name 
  FROM songs s JOIN artists a ON s.artist_id = a.artist_id
);

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14897,)]

In [39]:
%sql select count(*) from users;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(96,)]

In [20]:
%sql select * from users limit 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free')]

In [40]:
%sql select count(*) from time;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6813,)]

In [22]:
%sql select * from time limit 5;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 17, 33), 21, 1, 44, 11, 2018, 4)]

In [23]:
%sql select count(*) from songplays;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [24]:
%sql select * from songplays limit 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(6008, datetime.datetime(2018, 11, 1, 21, 11, 13), 8, 'free', 'SOEIQUY12AF72A086A', 'ARHUC691187B9AD27F', 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (824, datetime.datetime(2018, 11, 1, 21, 52, 5), 26, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 169, 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (5653, datetime.datetime(2018, 11, 2, 3, 5, 57), 48, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 47, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3484, datetime.datetime(2018, 11, 2, 5, 15, 41), 17, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 118, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (924, datetime.datetime(2018, 11, 2, 9, 12, 32), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (5802, datetime.datetime(2018, 11, 2, 9, 31), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (988, datetime.datetime(2018, 11, 2, 9, 42, 23), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (3797, datetime.datetime(2018, 11, 2, 10, 21, 25), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (5390, datetime.datetime(2018, 11, 2, 11, 4, 31), 15, 'paid', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 172, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (632, datetime.datetime(2018, 11, 2, 11, 20, 31), 80, 'free', '***UNKNOWN_SONG***', '***UNKNOWN_ARTIST***', 165, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [41]:
%sql select count(*) from songplays where song_id like 'SO%';

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(333,)]

In [42]:
%sql select count(*) from songplays where artist_id like 'AR%';

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(333,)]

In [28]:
%sql select * from songplays where song_id like 'SO%' limit 10;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(84, datetime.datetime(2018, 11, 3, 18, 19, 10), 95, 'paid', 'SOPANEB12A8C13E81E', 'ARSW5F51187FB4CFC9', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (2274, datetime.datetime(2018, 11, 4, 7, 31, 31), 25, 'paid', 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (937, datetime.datetime(2018, 11, 4, 16, 25, 54), 69, 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 235, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3725, datetime.datetime(2018, 11, 5, 2, 9, 47), 44, 'paid', 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (5567, datetime.datetime(2018, 11, 5, 4, 47, 26), 69, 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 259, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2459, datetime.datetime(2018, 11, 5, 5, 57, 5), 57, 'free', 'SOCGOZK12A8151BD5D', 'ARM0P6Z1187FB4D466', 56, 'San Antonio-New Braunfels, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.59.10 (KHTML, like Gecko) Version/5.1.9 Safari/534.59.10"'),
 (2288, datetime.datetime(2018, 11, 5, 15, 31, 19), 24, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (63, datetime.datetime(2018, 11, 5, 16, 4, 5), 97, 'paid', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (4891, datetime.datetime(2018, 11, 5, 17, 31, 11), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (1136, datetime.datetime(2018, 11, 6, 7, 36, 46), 66, 'free', 'SOTDKGV12AB017E39A', 'AR8WV031187FB3F903', 191, 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

### Test queries to see if data populated properly

In [37]:
%sql select count(*) from songplays x join time t on x.start_time = t.start_time;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [30]:
%%sql
select t.year, t.month, t.week, count(*) 
  from songplays x join time t on x.start_time = t.start_time
 group by t.year, t.month, t.week
 order by t.year, t.month, t.week;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(2018, 11, 44, 410),
 (2018, 11, 45, 1257),
 (2018, 11, 46, 1958),
 (2018, 11, 47, 1711),
 (2018, 11, 48, 1484)]

In [31]:
%sql select count(*) from songplays x join users u on x.user_id = u.user_id;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [32]:
%sql select count(*) from songplays x join artists a on x.artist_id = a.artist_id;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [33]:
%sql select count(*) from songplays x join songs s on x.song_id = s.song_id;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6820,)]

In [34]:
%%sql
select t.year, t.month, t.week, u.level, count(*)
  from songplays x 
  join time t on x.start_time = t.start_time
  join users u on x.user_id = u.user_id
 group by t.year, t.month, t.week, u.level
 order by t.year, t.month, t.week, u.level;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(2018, 11, 44, 'free', 108),
 (2018, 11, 44, 'paid', 302),
 (2018, 11, 45, 'free', 276),
 (2018, 11, 45, 'paid', 981),
 (2018, 11, 46, 'free', 277),
 (2018, 11, 46, 'paid', 1681),
 (2018, 11, 47, 'free', 238),
 (2018, 11, 47, 'paid', 1473),
 (2018, 11, 48, 'free', 216),
 (2018, 11, 48, 'paid', 1268)]

In [35]:
%%sql
select t.year, t.month, t.week, u.gender, count(*)
  from songplays x 
  join time t on x.start_time = t.start_time
  join users u on x.user_id = u.user_id
 group by t.year, t.month, t.week, u.gender
 order by t.year, t.month, t.week, u.gender;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(2018, 11, 44, 'F', 288),
 (2018, 11, 44, 'M', 122),
 (2018, 11, 45, 'F', 878),
 (2018, 11, 45, 'M', 379),
 (2018, 11, 46, 'F', 1526),
 (2018, 11, 46, 'M', 432),
 (2018, 11, 47, 'F', 1251),
 (2018, 11, 47, 'M', 460),
 (2018, 11, 48, 'F', 944),
 (2018, 11, 48, 'M', 540)]

In [43]:
%%sql
select count(*), case when song_id='***UNKNOWN_SONG***' then 'Unknown' else 'Known' end as category
  from songplays
 group by category;

 * postgresql://awsuser:***@redshift-cluster.clrsh2v4cj6v.us-west-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[(333, 'Known'), (6487, 'Unknown')]